.container {
    margin-left: 0px;

}

.bg7{
    height: 1000px;
}

.bg5 {
    background-image: url("../../../../public/salary.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    width: 1524px;
        height: "1000px";
    margin-right: "550px";
  }